<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmployeeRoster"
        tools:targetApi="31">

        <!-- Splash Screen Activity -->
        <activity
            android:name="com.employeeroster.ui.activity.SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name="com.employeeroster.ui.activity.LoginActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.EmployeeRoster" />

        <!-- Admin Activity -->
        <activity
            android:name="com.employeeroster.ui.activity.AdminActivity"
            android:label="Admin Dashboard"
            android:exported="true" />

        <!-- Manager Activity -->
        <activity
            android:name="com.employeeroster.ui.activity.ManagerActivity"
            android:label="Manager Dashboard"
            android:exported="true" />

        <!-- General Worker Activity -->
        <activity
            android:name="com.employeeroster.ui.activity.GeneralWorkerActivity"
            android:label="General Worker"
            android:exported="true"
            android:theme="@style/Theme.EmployeeRoster" />

        <activity android:name="com.employeeroster.ui.activity.CompanyNewsActivity" />
        <activity android:name="com.employeeroster.ui.activity.CreateUserActivity" />
        <activity android:name="com.employeeroster.ui.activity.AdminUpdateUserActivity" />
        <activity android:name="com.employeeroster.ui.activity.DeleteUserActivity" />
        <activity android:name="com.employeeroster.ui.activity.EmployeeDashboardActivity" />
        <activity android:name="com.employeeroster.ui.activity.EmployeeProfile" />
        <activity android:name="com.employeeroster.ui.activity.ForgotPasswordActivity" />
        <activity android:name="com.employeeroster.ui.activity.LeaveRequestActivity" />
        <activity android:name="com.employeeroster.ui.activity.LogoutActivity" />
        <activity android:name="com.employeeroster.ui.activity.ManageShiftSwapsActivity" />
        <activity android:name="com.employeeroster.ui.activity.PendingLeaveRequestsActivity" />
        <activity android:name="com.employeeroster.ui.activity.RosterActivity" />
        <activity android:name="com.employeeroster.ui.activity.ShiftManager" />
        <activity android:name="com.employeeroster.ui.activity.SwapShiftActivity" />
        <activity android:name="com.employeeroster.ui.activity.TimeOffManagerActivity" />
        <activity android:name="com.employeeroster.ui.activity.TrackAttendanceActivity" />
        <activity android:name="com.employeeroster.ui.activity.ViewRosterActivity" />
        <activity android:name="com.employeeroster.ui.activity.ViewScheduleActivity" />

    </application>

</manifest>
