<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmployeeRoster"
        tools:targetApi="31"
        tools:ignore="ExtraText">

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">



        <!-- Splash Screen Activity -->

                <activity android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.EmployeeRoster" />

        <!-- Admin Activity -->
        <activity
            android:name=".AdminActivity"
            android:label="Admin Dashboard"
            android:exported="true"/>

        <!-- Manager Activity -->
        <activity
            android:name=".ManagerActivity"
            android:label="Manager Dashboard"
            android:exported="true"/>

        <!-- General Worker Activity -->
        <activity
            android:name=".GeneralWorkerActivity"
            android:label="General Worker"
            android:exported="true"
            android:theme="@style/Theme.EmployeeRoster"/>

        <!-- Roster Activity -->
        <activity android:name=".RosterActivity" />

        <!-- Logout Activity -->
        <activity
            android:name=".LogoutActivity"
            android:label="Logout"
            android:exported="true"/>

        <!-- Create User Activity -->
        <activity
            android:name=".CreateUserActivity"
            android:label="Create User"
            android:exported="true"/>

        <activity android:name=".RosterManager" />
        <activity android:name=".ShiftManager" />
        <activity android:name=".SwapShiftActivity" />
        <activity android:name=".LeaveRequestActivity"/>

        <!-- Forgot Password Activity -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:label="Forgot Password"
            android:exported="true"/>

        <activity android:name=".TimeOffManagerActivity" />
        <activity android:name=".TrackAttendanceActivity"/>
        <activity android:name=".ManageShiftSwapsActivity"/>
        <activity android:name=".ViewScheduleActivity"/>
        <activity android:name=".AdminUpdateUserActivity"/>
        <activity android:name=".DeleteUserActivity" />
        <activity android:name=".ViewRosterActivity"/>


    </application>

</manifest>
